* {
    margin: 0;
    padding: 0;
}

body{
    max-height: 100vh;
    max-width: 100vw;
    background-color: coral;
}

.headDiv {
    height: 5rem;
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    
}

#hedingLine{
    color: black;
    font-size: 2.4rem;
    font-weight: 600;
    flex-grow: 1;
    text-align: center;
}

#aboutDev {
    color: blueviolet;
    font-weight: 500;

}

.iconDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin: 0.4rem;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

#scoreText {
    font-size: 2.5rem;
    text-decoration: underline;
}

#userScore {
    font-size: 2.5rem;
    margin-right: 4rem;
}

#compScore {
    font-size: 2.5rem;
}

.updateScore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

}

.playBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayImage {
    max-height: 7rem;
    max-width: 6rem;
}

#userBox {
    height: 9rem;
    width: 8rem;
    border: 2px solid black;
    border-radius: 10%;
    margin-right: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
}

#compBox {
    height: 9rem;
    width: 8rem;
    border: 2px solid black;
    border-radius: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; 
    font-weight: 600;   
}

.choiceImage {
    max-height: 7rem;
    max-width: 6rem;
    margin: 3rem;
}

.choiceBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.choiceImage:hover {
    cursor: pointer;
}

.drawText {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;

}

@media(max-width:600px){
    .headDiv {
        height: 5rem;
        background-color: aqua;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        
    }

    #hedingLine{
        color: black;
        font-size: 1.5rem;
        font-weight: 600;
        flex-grow: 1;
        text-align: center;
    }

    .choiceImage {
        max-height: 6rem;
        max-width: 5rem;
        margin: 1.5rem;
    }
    
}